body {
  padding-top: 70px;
}

/* header nav */
.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-nav li a {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 5px 5px 5px;
}
a:hover {
  color: #c57ed3;
  border: 1px solid #c57ed3;
}

a:visited {
  color: #c57ed3;
  text-decoration: none;
}

.active a,
a:hover,
a:focus {
  background-color: transparent;
  color: #c57ed3;
}

.navbar-toggle {
  border-color: #c57ed3;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #490d40;
}

.icon-bar {
  color: #c57ed3;
  background-color: #c57ed3;
}

.navbar-collapse.collapse.in ul {
  background-color: #490d40;
}

.navbar.solid {
  background-color: #490d40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar-brand {
  color: #c57ed3;
  transition: color 1s ease 0s;
}

.navbar-nav li a {
  color: #c57ed3;
  transition: color 1s ease 0s;
}

.about {
  background-color: #c57ed3;
  color: #490d40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}

h2 {
  padding-top: 220px;
}
p {
  padding: 20px 80px;
}

/* slider */
.carousel .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.carousel .carousel-item:first-of-type {
  /* background-image: url("https://ichef.bbci.co.uk/images/ic/960x960/p08634k6.jpg"); */
  background-image: url("https://www.ecopetit.cat/wpic/mpic/309-3091065_pharmacist-health-wallpapers-more-hd-wallpapers.jpg");
}

.carousel .carousel-item:nth-of-type(2) {
  /* background-image: url("http://s9.favim.com/orig/130806/flower-flowers-photography-pink-Favim.com-833641.jpg"); */
  background-image: url("https://i.pinimg.com/736x/c6/7c/c1/c67cc114fc289a3eacc442da873053b2.jpg");
}

.carousel .carousel-item:last-of-type {
  /* background-image: url("https://4.bp.blogspot.com/-pxMLcrD3N7I/UjAMNkqM43I/AAAAAAAAABQ/2-etadUS_48/s640/flowers.jpg"); */
  background-image: url("https://cdn.wallpapersafari.com/73/0/vcl7xF.jpg");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}
#carouselExampleIndicators {
  margin-top: -50px;
}
@media (max-width: 995px) {
  body {
    background: red;
  }
}
@media (min-width: 995px) {
  body {
    background: blue;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.navOpened {
  width: 80%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.navbar {
  /* background: #cecece; */
}
.closeBtn {
  font-size: 30px;
  cursor: pointer;
  padding-top: 20px;
}
.icons {
  font-size: 30px;
  cursor: pointer;
}
.fa-plus {
  z-index: 100000000;
}
.menu-icon,
.close-icon {
  height: 2px;
  background-color: black;
  width: 20px;
  margin: 6px 0;
  transition: all 0.25s ease-in-out;
}
.close-icon {
  background-color: white;
}
.opened .menu-icon:nth-child(1) {
  transform: rotate(45deg) translate(6px, 3.5px);
}
.opened .menu-icon:nth-child(2) {
  opacity: 0;
}
.opened .menu-icon:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -5px);
}

.close-icon:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}
.close-icon:nth-child(2) {
  transform: rotate(-45deg);
}
.mainOpened {
  margin-left: 300px;
}
.bodyOpened {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 300px;
  transition: all 0.25s ease-in-out;
}
#main-menu {
  padding-left: 36px;
  padding-top: 20px;
}
@media only screen and (min-width: 767px) {
  .sidenav {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    overflow-x: visible;
    transition: 0s;
    display: flex;
    width: 100%;
  }
  .sidenav ul {
    flex-direction: row;
  }
  .sidenav li {
    padding: 0 10px;
  }
  .menu-icon,
  .closeBtn {
    display: none;
  }
  #main-menu {
    padding: 0;
  }
}

/* PROJECT ONLY STYLING */
.demoBody {
  padding-left: 50px;
  padding-top: 20px;
}
@media only screen and (max-width: 767px) {
  .nav-link {
    color: white !important;
  }
  .sidenav a {
    margin-left: 20px;
  }
}

.about {
  height: 100vh;
  cursor: pointer;
  background-color: #6b062d;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
}
.about h1 {
  padding: 10px 0;
  margin-bottom: 20px;
}
.about h2 {
  opacity: 0.8;
}
.about span {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  border-radius: 50%;
  font-size: 40px;
  color: #ffffff;
  opacity: 0.7;
  background-color: #4c0822;
  border: 2px solid #4c0822;

  webkit-transition: all 0.5s ease;
  moz-transition: all 0.5s ease;
  os-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-item:hover span {
  opacity: 1;
  border: 2px solid #cc0039;
  font-size: 42px;
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);
  transform: scale(1.1, 1.1) rotate(360deg);
}
.about-item:hover h2 {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.about .lead {
  color: #cc0039;
  font-size: 14px;
  font-weight: bold;
}

/* Main page columns */
body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}
.boxDiv {
  height: 90vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}


/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
